/UmbHttpStatusCode/packages
/UmbHttpStatusCode/UmbHttpStatusCode/bin/Debug
/UmbHttpStatusCode/UmbHttpStatusCode/obj/Debug
/UmbHttpStatusCode/UmbHttpStatusCode/App_Data/NuGetBackup/20160208-164703/bin/Debug
