/UmbHttpStatusCode/packages
/UmbHttpStatusCode/UmbHttpStatusCode/bin/Debug
/UmbHttpStatusCode/UmbHttpStatusCode/obj/Debug
/UmbHttpStatusCode/UmbHttpStatusCode/App_Data/NuGetBackup/20160208-164703/bin/Debug
/UmbHttpStatusCode/UmbHttpStatusCode/bin
/UmbHttpStatusCode/UmbHttpStatusCode/obj
/UmbHttpStatusCode/UmbracoTest/obj
/UmbHttpStatusCode/UmbracoTest/bin
/UmbHttpStatusCode/UmbracoTest/App_Data
/umbhttpstatuscode/UmbracoTest/App_Data/cache
/umbhttpstatuscode/UmbracoTest/App_Data/Logs
/umbhttpstatuscode/UmbracoTest/App_Data/TEMP
UmbHttpStatusCode/.vs/UmbHttpStatusCode/v14/.suo
/src/packages
/src/UmbHttpStatusCode/bin
/src/UmbHttpStatusCode/obj
/src/UmbracoTest/obj/NuGet
